/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

/* Header Styles */
.header {
    background-color: #10457e;
    color: white;
    padding: 15px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo svg {
    width: 50px;
    height: 50px; 
    margin: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 8px;
}

.search-bar input[type="search"] {
    padding: 8px 16px;
    border: 1px solid #ced4da;
    border-radius: 50px;
    outline: none;
    transition: border-color 0.3s;
}

.search-bar input[type="search"]:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.search-bar button {
    padding: 8px 16px;
    background-color: #10457e;
    color: white;
    border: 1px solid #007bff;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.search-bar button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
}

.nav-item {
    display: inline;
    margin-left: 15px;


}
.nav-item :hover {
    background-color: #0056b3;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for both background and scale */
    border-radius: 4px;
    
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* Main Content Styles */
.main-content {
    flex: 1;
    margin: 40px auto;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
}

.jumbotron {
    background-color: #6c757d;
    color: white;
    padding: 50px 20px;
    border-radius: 8px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically within the jumbotron */
    align-items: center; /* Center horizontally within the jumbotron */
}

/* Button Styles */
.btn-primary {
    background-color: #10457e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for both background and scale */
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}


/* Footer Styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #10457e;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    width: 24px; /* Adjust the size of icons */
    height: 24px; /* Adjust the size of icons */
    margin: 0 5px;
}

.social-icon img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
}


